.App {
    display: flex;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}

h1 {
    width: 100%;
    position: absolute;
    margin-bottom: 20%;
    align-content: space-between;
}

hr {
    display: flex;
    margin-top: 20%;
    flex-direction: column-reverse;
    width: 1px;
}

li {
    list-style: none;
    text-align: left;
    background-color: yellow;
}

.list {
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 1px solid;
    border-color: black;
    margin-top: 120%;
    font-family: ;
    font-weight: bold;
}

.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    width: 40%;
    margin-right: 30%;
    margin-top: 20%;
    background-color: #75AADB;
}
